body{
    background: #ffd000f8;
    text-align: center ;
    padding-left: 700px;
    font-size: 30px;
    background-image: url(images/img123.jpeg);
    background-repeat: no-repeat;
    background-size: 50% 160%;
    background-position: left;
}
.bold{
    font-size: 100px;
}
.form img{
width: 100px;
padding-top: 100px;
padding-bottom: 30px;
}
a{
    font-size: 15px; 
    color: rgb(0, 0, 0);
}
#email{
    padding-right: 150px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    border-color: black;
}
.button{
    padding-right: 140px;
    padding-left: 140px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
}